EXPO_PUBLIC_SUPABASE_URL=https://ghobtkofruqgcehdmrfd.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imdob2J0a29mcnVxZ2NlaGRtcmZkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODgxNzMxODUsImV4cCI6MjEwMzc0OTE4NX0.TDuu5eGnMRJaZXVa6c520w98vCG93lomhAmz9OQdb-s
